services:
  - type: web
    name: gestor-documental-eltabo
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7
    disk:
      name: data
      mountPath: /opt/render/project/src/data
      sizeGB: 1
